<div class="modal-overlay">
  <div class="modal-conteudo" (click)="$event.stopPropagation()">
    <h2 class="modal-titulo mb-3">Regras do Jogo</h2>

    <div
      class="carousel-container d-flex align-items-center justify-content-center"
    >
      <div
        class="carousel-slide"
        *ngFor="let item of slides; let i = index"
        [class.active]="i === currentSlide"
      >
        <div class="card-carousel" [innerHTML]="item">{{ item }}</div>
      </div>
    </div>
    <div class="carousel-controles mb-3">
      <button
        (click)="voltarSlide()"
        [disabled]="currentSlide === 0"
        class="btn-seta"
      >
        ◀
      </button>

      <button
        class="btn-entendi"
        *ngIf="currentSlide === slides.length - 1"
        (click)="fechar.emit()"
      >
        Entendi
      </button>

      <button
        (click)="avancarSlide()"
        [disabled]="currentSlide === slides.length - 1"
        class="btn-seta"
      >
        ▶
      </button>
    </div>
  </div>
</div>
