<div class="plano-de-fundo">
  <div class="fade-tela" *ngIf="mostrarFade"></div>

  <app-bem-vindo
    *ngIf="mostrarBemVindo"
    (fechar)="exibirInstrucoes()"
  ></app-bem-vindo>

  <app-instrucoes
    *ngIf="mostrarInstrucoes"
    (fechar)="fecharInstrucoes()"
  ></app-instrucoes>

  <ng-template #modalParabens let-modal>
    <div class="modal-backdrop" (click)="fecharModalParabens()"></div>
    <div class="modal-conteudo">
      <p>{{ fraseParabensAtual }}</p>
      <button (click)="fecharModalParabens()">Fechar</button>
    </div>
  </ng-template>

  <div *ngIf="modalAberto" class="modal-container">
    <ng-container *ngTemplateOutlet="modalParabens"></ng-container>
  </div>

  <!-- BOTÕES SUPERIORES DIREITA -->
  <div class="menu-superior pt-3 mb-3">
    <button (click)="irParaInicio()">Voltar à Tela Inicial</button>
    <button (click)="abrirModal()">Instruções</button>
  </div>

  <div class="jogo-container" [class.bloqueado]="mostrarInstrucoes">
    <div class="cardsExplicativosCacaAoTesouro mb-3">
      <div class="dicas" *ngIf="mapaComponent">
        {{ dicas[mapaComponent.faseAtual] }}
      </div>

      <input
        class="inputCodigoTesouro"
        type="text"
        (input)="verificarCodigo($event)"
        [value]="codigoDigitado"
      />

      <div class="container-botoes" *ngIf="carregado">
        <button
          class="btn-fase voltar"
          (click)="voltarFase()"
          [disabled]="mapaComponent.faseAtual === 0"
        >
          ◀
        </button>
        <button
          class="btn-fase avancar"
          (click)="mostrarModalParabens()"
          [disabled]="
            !mapaComponent || !codigoValido || mapaComponent.faseAtual === 30
          "
        >
          ▶ Próxima fase
        </button>
        <button class="btn-fase avancar PASSE-LIVRE" (click)="mostrarModalParabens()">
          ▶
        </button>
      </div>
    </div>
    <div class="divMapa">
      <app-mapa #mapaRef></app-mapa>
    </div>
  </div>
</div>
