<div class="tela-intro">
  <div class="d-flex flex-column align-items-center">
    <div
      class="d-flex flex-row align-items-center justify-content-between mb-4 mt-3"
      style="width: 95%"
    >
      <div class="imagemBau"></div>
      <div class="imagemBau"></div>
      <div class="imagemBau"></div>
    </div>
    <p class="teste mb-3"></p>
    <p class="teste mb-3">CAÇA AO TESOURO VIRTUAL</p>
    <!-- <p class="teste mb-3">Are you ready?</p> -->
    <div class="d-flex flex-row align-items-end justify-content-around w-100 mb-4">
      <button (click)="continuar.emit()" class="button-vibrance mb-4">
        Jogar
      </button>
      <div class="imagemLaura"></div>
    </div>

    <div
      class="d-flex flex-row align-items-center justify-content-between"
      style="width: 95%"
    >
      <div class="imagemBau"></div>
      <div class="imagemBau"></div>
      <div class="imagemBau"></div>
    </div>
  </div>
</div>
